@font-face { 
    font-family: 'BMDOHYEON'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; }
* {
    font-family: 'BMDOHYEON';
}
body {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #000000;
}
#videoholder {
    position: fixed;
    height: 90%;
    padding: 0;
    margin: 0px;
}
#buttonsholder {
    position: fixed;
    background-color:#000000;
    width:100%!important;
    height: 10vh;
    padding: 0;
    margin: 0px;
    top: 90%;
    display: none;
}
#currentvideo {
    position: fixed;
    margin: 0px;
    width:100%!important;
    height:90vh;
}
.choicevideos{
    width: 0;
    height: 0;
}
.choicebutton{
    width:50%;
    height: 9vh;
    background-color: #4f4f4f;
    border-width: 0px;
    top: 91%;
    color: #ffffff;
}
.choicebutton:hover {
    background-color: #afafaf;
}

#choicebutton1 {
    position: fixed;
    left: 0%;
}
#choicebutton2 {
    position: fixed;
    right: 0%;
}
#greeting * {
    position: fixed;
    background-color: #000000;
    color: #ffffff;
    border: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 75px;
}
#starttext{
    position: fixed;
    top: 25%;
    height: 25%;
    border: 0;
}
#startbutton{
    position: fixed;
    bottom: 25%;
    left: 25%;
    width: 50%;
    height: 25%;
}
#startbutton:hover{
    background-color: #afafaf;
}
#timeslider{
    display: inline-block;
    background-color:#ffffff;
    position:fixed;
    width:100%;
    height: 1vh;
    top:90%;
    margin:auto;
}